@using DomainLayer.Models
@{
    ViewBag.Title = "Home Page";

    IEnumerable<Tasks> tasks = ViewBag.Tasks;
}

<div class="row">
    <div class="col-12 mt-4">
        <h2 class="mb-3">
            Úkoly
            <span class="float-right">
                <a href="@Url.Action("Create", "Tasks")" class="btn btn-primary">Nový úkol</a>
            </span>
        </h2>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr class="d-flex">
                        <th class="col-10">Název</th>
                        <th class="col-2 text-right">Akce</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var task in tasks)
                    {
                        <tr class="d-flex">
                            <td class="col-10">
                                <a href="@Url.Action("Show", "Tasks", new {modelId = task.ModelId})">@task.Title</a>
                            </td>
                            <td class="col-2">
                                <div class="btn-group float-right" role="group">
                                    <a class="btn btn-primary" href="@Url.Action("Update", "Tasks", new {modelId = task.ModelId})">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="btn btn-danger text-white" href="@Url.Action("Destroy", "Tasks", new {modelId = task.ModelId})">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>